.hr-section{
    height: 1px;
    background-color: #292b2c;
    border: none;
    margin-left: 50px;
    margin-right: 50px;
    color: grey;
}

#bg-black{
    background-color: black;
}

#mg10{
    margin-left: 50px;
    margin-right: 50px;
}

#img-des{
    max-width: 100%;
}

body{
    font-family: 'Raleway', sans-serif;
}
